<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="dbMyCMSConnectionString"  connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=F:\work\globul\ReportAppNew\ReportApp - Copy (2)\ReportApp\App_Data\dbMyCMS.mdf;Integrated Security=True;User Instance=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  
    <system.web>
      
      <membership defaultProvider="AspNetSqlMembershipProvider2">
        <providers>
          <add connectionStringName="dbMyCMSConnectionString" enablePasswordRetrieval="false"
            enablePasswordReset="true" applicationName="/" name="AspNetSqlMembershipProvider2"
            type="System.Web.Security.SqlMembershipProvider" />
        </providers>
      </membership>
      
       <roleManager enabled="true" defaultProvider="AspNetSqlRoleProvider2">
          <providers>
             <add connectionStringName="dbMyCMSConnectionString" 
                applicationName="/" name="AspNetSqlRoleProvider2"
                type="System.Web.Security.SqlRoleProvider" />
          </providers>
       </roleManager>
      
       <authentication mode="Forms" >
         <forms loginUrl="Login.aspx"
         defaultUrl="Home.aspx" />
       </authentication>
      
        <compilation debug="true" targetFramework="4.0" />

      <siteMap defaultProvider="Web" enabled="true">
        <providers>
          <add name="admin" type="System.Web.XmlSiteMapProvider" siteMapFile="admin.sitemap" securityTrimmingEnabled="true"/>
          <add name="oms" type="System.Web.XmlSiteMapProvider" siteMapFile="oms.sitemap" securityTrimmingEnabled="true"/>
          <add name="npq" type="System.Web.XmlSiteMapProvider" siteMapFile="npq.sitemap" securityTrimmingEnabled="true"/>
          <add name="Web" type="System.Web.XmlSiteMapProvider" siteMapFile="Web.sitemap" securityTrimmingEnabled="true"/>
        </providers>
      </siteMap> 
      
    </system.web>

</configuration>
